@use '../../styles/base/' as *;
@use '../../styles/abstracts/' as *;

.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $navbar-height-mobile 1fr auto;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    gap: 0;

    @include respond-above('md') {
        grid-template-columns: 1fr;
        grid-template-rows: $navbar-height auto;
    }
}