@use '../../styles/abstracts/' as *;
@use '../../styles/base/' as *;
@use "sass:color";

.navbar {
    height: $navbar-height-mobile;
    min-height: 4rem;
    background: $color-universal-background;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    .burger {
        justify-self: start;
        margin-left: 1rem;
        padding: 0.5rem;
        scale: 1.2;
        cursor: pointer;

        img {
            aspect-ratio: 1/1;
            @include hover-circle-effect($color-border);
        }
    }

    .sessionName {
        justify-self: center;
        font-size: $font-size-xl;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80vw;
        visibility: hidden;

        @include respond-above('tablet') {
            visibility: visible;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-self: end;
        margin-right: 1rem;
        gap: 2.5rem;

        .iconShare {
            scale: 1.2;
            cursor: pointer;

            img {
                padding: 0.25rem;
                @include hover-circle-effect($color-border);
            }
        }

        .iconProfile {
            scale: 1.2;
            cursor: pointer;

            img {
                padding: 0.25rem;
                @include hover-circle-effect($color-border);
            }
        }
    }
}