@use '../../styles/abstracts/' as *;
@use "sass:color";

.dropdown {
    background: $color-chat-surface;
    border-radius: $radius-xs;
    height: 70%;
    max-height: 50px;
    border: 2px solid color.change($color-border, $alpha: 0.2);
    display: inline-grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    width: max-content;
    min-width: to-rem(95px);
    padding: to-rem(2px) to-rem(8px) 0 to-rem(12px);
    column-gap: to-rem(8px);
    font-size: $font-size-base;
    cursor: pointer;

    .text {
        white-space: nowrap;
    }

    .arrow {
        scale: 1.5;
    }

    .menu {
        position: absolute;
        background: $color-chat-surface;
        border-radius: $radius-xs;
        border: 2px solid color.change($color-border, $alpha: 0.2);
        top: calc($navbar-height-mobile - 2vh);
        display: flex;
        flex-direction: column;
        z-index: 10;

        .menuItem {
            padding: to-rem(8px);
            cursor: pointer;

            &:hover {
                background: color.change($color-border, $alpha: 0.1);
            }
        }
    }

    @include respond-above('md') {
        top: calc($navbar-height - 2vh);
    }

    @media (min-height: $breakpoint-tablet) {
        height: 60%;
    }
}

