@use '../../styles/abstracts/' as *;
@use "sass:color";

.dropdown {
    background: $color-chat-surface;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-right: 0.5rem;

    .arrow {
        scale: 1.5;
    }

    .menu {
        position: absolute;
        background: $color-chat-surface;
        border-radius: $radius-xs;
        border: 2px solid color.change($color-border, $alpha: 0.2);
        bottom: calc(100% + 0.5rem);
        display: flex;
        flex-direction: column;
        z-index: 10;

        .menuItem {
            padding: to-rem(8px);
            cursor: pointer;
            font-size: $font-size-base;
            font-weight: 700;

            &:hover {
                background: color.change($color-border, $alpha: 0.1);
            }
        }
    }
}

