@use '../../styles/base/' as *;
@use '../../styles/abstracts/' as *;
@use "sass:color";

.backgroundContainer {
    background-color: $color-universal-background;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    padding: 0rem 1rem 2rem;
    box-shadow: 0 -8px 24px 24px rgba(23, 27, 33, 0.8);

    .inputContainer {
        padding: 1.4rem 1rem 0rem;
        display: flex;
        border: 1px solid color.change($color-border, $alpha: 0.2);
        border-radius: $radius-md;
        background-color: $color-chat-surface;
        max-width: $input-max-width;
        margin: 0 auto;

        .attach {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: $color-chat-surface;
            cursor: pointer;

            @include hover-circle-effect($color-border);
        }

        .textarea {
            flex-grow: 1;
            background-color: transparent;
            border: none;
            font-size: $font-size-md;
            margin: 0.5rem 0.5rem 0;
            resize: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: color.change($color-border, $alpha: 0.5);
                align-self: center;
                align-items: center;
                justify-content: center;
            }
        }

        .send {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: $color-chat-surface;
            cursor: pointer;

            @include hover-circle-effect($color-border);
        }
    }
}

