@use '../abstracts' as *;
@font-face {
    font-family: "Estedad-VF";
    src: url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.eot");
    src: url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/216cb37ce05c1b4c17809758d0e6f48e.svg#Estedad VF")format("svg");
}


html {
  font-size: 14px;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $color-text;
  line-height: $line-height-base;
}

code {
  font-family: $font-code;
}