@use '../../../styles/base/' as *;
@use '../../../styles/abstracts/' as *;
@use "sass:color";

.modelText {
    background: $color-chat-surface;

    border: 1px solid color.change($color-border, $alpha: 0.2);
    border-top-left-radius: 0;
    border-top-right-radius: $radius-sm;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;

    text-align: left;
    max-width: 85%;
    width: fit-content;

    font-size: $font-size-md;

    p {
        margin: 1rem 2rem;

        a {
            color: lightblue;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    pre {
        background: color.change($color-border, $alpha: 0.1);
        padding: to-rem(8px);
        border-radius: $radius-xs;
        font-family: 'Courier New', Courier, monospace;
        overflow-x: auto;
        margin: 1rem 2rem;
    }

    code {
        padding: to-rem(2px) to-rem(4px);
        border-radius: $radius-xs;
    }
}