@use '../../styles/base/' as *;
@use '../../styles/abstracts/' as *;
@use "sass:color";

.newChatButton {
    max-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    flex: 1;
    padding: 1rem 0.75rem;
    background-color: $color-user-surface;
    border: 1px solid;
    border-color: color.change($color-border, $alpha: 0.2);
    border-radius: 0.5rem;
    cursor: pointer;

    .text {
        justify-content: center;
    }
}