@use '../../styles/base/' as *;
@use '../../styles/abstracts/' as *;

.chat {
    background-color: $color-universal-background;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;

    .typingIndicator {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: $font-size-md;
        padding-left: 2.75rem;
        opacity: 0.5;
    }
}