@use '../../styles/base/' as *;
@use '../../styles/abstracts/' as *;

.chat {
    background-color: $color-universal-background;
    padding-top: 0.5rem;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    @include respond-above('laptop') {
        padding-top: 0rem;
    }

    .limitator {
        width: 100%;
        max-width: $chat-max-width;
        padding: 2rem 2rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        overflow-x: hidden;

        @include respond-above('ml') {
            padding: 2rem 4rem;
        }

        @include respond-above('tablet') {
            padding: 2rem 5rem;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .message {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .typingIndicator {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $font-size-md;
            padding-left: 2.75rem;
            opacity: 0.5;
        }
    }

}